= form_for @photo, :html => { :multipart => true } do |f|
  - if @photo.errors.any?
    #error_explanation
      %h2= "#{pluralize(@photo.errors.count, "error")} prohibited this photo from being saved:"
      %ul
        - @photo.errors.full_messages.each do |msg|
          %li= msg

  .field.file-wrapper
    = f.file_field :image, class: "file-upload-large"
    %a.button{ :class => 'btn btn-success btn-large'} Select bicycle photo
    %span.fileName &nbsp;
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.hidden_field :user_id, value: "1"
  .actions
    = f.submit 'Upload', class: "btn btn-default"


:javascript
  $('input[type=file]').bind('change', function() {
    if ($(this).val()) { $('span.fileName').html( $(this).val().replace(/^.*\\/, '') ) }
  });
